@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background: #202020;
    color: #ffffff;
    transition: 250ms;
}

body:has(:focus) {
    background: #000000;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#tabs-container {
    -webkit-app-region: no-drag;
    display: flex;
    flex-direction: row;
    grid-area: tabs;
    width: 70%;
    overflow-x: scroll;
}

#tabs-container::-webkit-scrollbar {
    height: 4px;
}

#tabs-container::-webkit-scrollbar-thumb {
    background: white;
}

.tab {
    -webkit-app-region: no-drag;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    max-width: 100px;
    margin: 0 4px;
    background: #202020;
    transition: 250ms;
}

.tab p {
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.tab:has(p:hover) {
    background: #505050;
}

.tab button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.tab button:hover {
    color: lightcoral;
}

.tab button:active {
    color: red;
}

.frame {
    position: fixed;
    -webkit-app-region: drag;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
        "tabs buttons";
    background: #101010;
    padding: 8px 0;
}

.frame #buttons {
    padding: 0 6px;
    margin: auto;
    grid-area: buttons;
}

.frame #buttons button {
    font-size: 1.6rem;
    cursor: pointer;
    background: transparent;
    color: #606060;
    border: none;
    margin: 0 4px;
    -webkit-app-region: no-drag;
    transition: 250ms all;
}

.frame #buttons button:hover {
    color: #ffffff;
}

#legend {
    font-family: 'Raleway', sans-serif;
    font-size: 2.8rem;
}

.search-bar {
    display: flex;
}

.search-bar #search {
    font-family: sans-serif;
    font-size: 1.5rem;
    background: #303030;
    color: #ffffff;
    border: 2px solid #303030;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    transition: 250ms;
}

.search-bar #search:focus {
    outline: none;
}

#search-bar-wrap {
    display: flex;
    transition: all 250ms;
}

#search-bar-wrap:has(:focus) {
    transform: translateY(-65%);
    font-size: 3rem;
}

#search-bar-wrap:has(:focus) #search {
    font-size: 3rem;
}

#search-bar-wrap:has(:focus) button {
    font-size: 3rem;
}

.search-bar button {
    cursor: pointer;
    font-family: sans-serif;
    font-size: 1.5rem;
    background: #303030;
    color: #ffffff;
    border: 2px solid #303030;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    transition: 250ms;
}

.search-bar button:hover {
    background: #404040;
    border-color: #404040;
}

.search-bar button:active {
    transition: none;
    background: #ffffff;
    border-color: #ffffff;
    color: #202020;
}

#browser-version {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    color: #505050;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
}

#downloads-btn {
    position: absolute;
    top: 40px;
    left: 0;
    font-size: 2.3rem;
    background: transparent;
    color: #707070;
    text-decoration: none;
    padding: 10px;
    border: none;
    transform-origin: center;
    transition: all 250ms;
}

#downloads-btn:hover {
    color: #ffffff;
}

#downloads-btn:active {
    color: #000000;
}

#background-btn {
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 2.3rem;
    background: transparent;
    color: #707070;
    text-decoration: none;
    padding: 10px;
    border: none;
    transform-origin: center;
    transition: all 250ms;
}

#background-btn:hover {
    color: #ffffff;
}

#background-btn:active {
    color: #000000;
}

@media (max-width: 831px) {

    #search-bar-wrap:has(:focus) {
        transform: translateY(-103%);
    }

    #search-bar-wrap:has(:focus) #search {
        font-size: 1.5rem;
    }
    
    #search-bar-wrap:has(:focus) button {
        font-size: 1.5rem;
    }
}