* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background: #000000;
    color: #ffffff;
    animation: background_delay 1s forwards;
}

#go-back {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.3rem;
    color: #707070;
    text-decoration: none;
    padding: 10px;
    transform: rotateZ(180deg);
    transition: all 250ms;
}

#go-back:hover {
    color: #ffffff;
}

#go-back:active {
    transition: none;
    color: #000000;
}

@keyframes background_delay {
    from {
        background: #000000;
    }

    to {
        background: #202020;
    }
}